# OS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Editors
*.sublime-workspace
# Vim swap and backup files
*.swo
*.swp
.vscode

# Node and NPM
package-lock.json
npm-debug.log
node_modules
yarn-error.log

# ESLint
.eslintcache

# Serverless
.serverless